html{
    margin: 0;
    padding: 0;
    /*width: 100vw;
    height: 100vh;
    overflow: hidden;*/
}

/*Header section*/

.headnav {
   /* display: grid;
    grid-template-columns: 50px 50px 35px 50px;
    grid-template-rows: 40px;
    justify-content: end;*/

    /*above also works with line 24-27 but understand 
    use of grid more OR use below*/

    display: flex;
    justify-content: space-between;
    width: 180px;
    position: absolute;
    right: 10px;
    top: 7px;
    list-style: none;  
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.btn{
    border-radius: 80px;
    height: 40px;
    width: 40px;
    background-color: rgba(146, 21, 196, 0.822);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.headnav img{
    height: 30px;
    width: 30px;
}

a{
    text-decoration: none;

}

.headnav a{
    color: rgba(88, 84, 84, 0.925);   
}

/*main section*/
input{
    border-radius: 1.5em;
    padding: 0px 8px;
    height: 45px;
    width: 600px;
    border: 1px solid rgba(83, 69, 69, 0.144);

}

.container{
    text-align: center;
    margin-top: 150px;
}

.container-paragraph{
    display: flex;
    justify-content: space-between;
    width: 18vw;
    position: absolute;
    left: 41vw;
}

.container-image{
    margin-bottom: 25px;
    /*margin-top: 50px;*/
}

.gsearch, .lucky{
    padding: 8px 16px;
    margin-top: 30px;
    margin-bottom: 15px;
    border: none;
    color: rgb(51, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

/*footer section*/
footer{
    position: absolute;
    bottom: 0;
    line-height: 1.5em;
    background-color: rgba(194, 181, 181, 0.205);
    /*padding: 0px 8px;*/
    width: 100vw;
    left: 0;
    border: 0.1px solid rgba(240, 237, 237, 0.911);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 80px;
}

.footnav{
    display: inline-flex;
    justify-content:space-between;
    width: 310px;
    position: absolute;
    left: 10px;
    bottom: 7px;
}

.footnav2{
    display: flex;
    /*justify-content: flex-end;*/
    justify-content:space-between;
    width: 150px;
    position: absolute;
    right: 10px;
    bottom: 7px;
}

/*.footnav{
    display: grid;
    grid-template-columns: 80px 70px 50px 1fr 60px 50px 50px;
    grid-template-rows: 40px;
    align-items: center;
    padding:0px 15px;
    }*/

.foot-paragraph{
    border: 0.1px solid rgba(221, 209, 209, 0.486);
    padding-left: 15px;
    margin: 0;
    line-height: 3em;
    color: rgba(88, 84, 84, 0.925);
}

a .advert, .business, .about, .hsw, .privacy, .terms, .settings{
    color: rgba(88, 84, 84, 0.925);
}